[2018-03-04 13:31] mylesagray opened #1 "Refactor into Platform instead of Accessory"
Currently implemented as an accessory, better placed as a platform to allow for multiple devices.

[2018-03-04 13:33] mylesagray opened #2 "Abstract Foobot/BlueAir API into an importable class"
Currently, all API logic is in-line this should be abstracted out to a native module.

This will allow for more generic use: i.e: for Foobot measuring devices or BlueAir Air Purifiers.

[2018-03-04 13:35] mylesagray opened #3 "Investigate UseDefaultValue, SetValue and UpdateValue for realtime updates"
Currently, a manual refresh is required to pull the latest info into Home.app, this should be done in real-time instead. Apparently possible using `SetValue` and `UpdateValue`.

[2018-03-04 13:36] mylesagray opened #4 "Optimise historical data iterating and processing"
It's a mess of a case statement at the moment - there must be a better way.

[2018-03-04 13:38] mylesagray opened #5 "Import historical values into Eve history charts"
Currently all data imported into Eve via [fakegato-history](https://github.com/simont77/fakegato-history) is only from the point that the plugin is installed, Foobot API supports retrieval of historical metrics, these should be pushed into fakegato-history for display in the Eve app.

https://github.com/simont77/fakegato-history/issues/48

[2018-03-04 15:28] mylesagray opened #6 "Add brightness control to front LED"
Currently just on/off, supports 4 brightness levels in 25% increments.

[2018-03-04 16:04] mylesagray opened #7 "Add ability to set parameters (currently only gets)"
Add POST requests for all settable parameters, currently only gets params.

[2018-03-06 13:46] mylesagray commented on #6
Added in 8e3c96a

[2018-03-06 13:46] #6 closed, assigned to mylesagray

[2018-03-06 20:56] mylesagray opened #9 "Add custom characteristics BlueAir specific params"
Filter Type: (SmokeScreen or Particle)
Auto Mode Trigger (Particles or Particles & Gases)

[2018-03-06 21:05] mylesagray opened #10 "Add instructions on how to retrieve API key"
API key was originally found using Charles proxy, unsure if this is global or is actually unique.

[2018-03-06 22:43] mylesagray commented on #7
Added in #11

[2018-03-06 22:43] #7 closed, assigned to mylesagray

[2018-03-30 20:29] krmkrx commented on #10
Hello there. Can you elaborate on how to find the API key using Charles Proxy? I am getting my Blueair soon and want to use your plugin. Thank you.

[2018-03-30 21:55] mylesagray commented on #10
@krmkrx done: https://github.com/mylesgray/homebridge-blueair/wiki/API_Key

Closes #10

[2018-03-30 21:55] #10 closed, assigned to mylesagray

[2018-03-31 17:08] mylesagray commented on #5
Fixed in 6fe282ef

[2018-03-31 17:09] #5 closed, assigned to mylesagray

[2018-04-04 17:51] krmkrx commented on #10
Hi there. I retrieved my API key. If I can direct message you somehow, we could check if the API key is global.

[2018-04-04 17:57] mylesagray commented on #10
@krmkrx are you on the Homebridge Slack? Get me on there :)
On Wed, 4 Apr 2018 at 18:51, krmkrx <notifications@github.com> wrote:

[2018-04-04 18:14] krmkrx commented on #10
Done!

[2018-05-15 17:25] d3rw1n opened #12 "BlueAir Classic 405 Support (Wi-Fi controllable with no built-in sensors)"
I've confirmed using Charles as instructed that they share the same API however I cannot make it work on homebridge.

The log shows the following after homebridge crashes:

/usr/local/lib/node_modules/homebridge-blueair/index.js:474
										this.measurements.pm = json.datapoints[0][i];
										                                         ^

TypeError: Cannot read property '1' of undefined
    at B

[2018-05-15 17:40] mylesagray commented on #12
Thanks for the report, definitely related to the lack of sensors, will look into it this weekend.

Will probably need to filter by model and ignore pulling sensor measurements.

[2018-06-16 17:28] d3rw1n commented on #12
I don’t mean to rush but has there been any updates on this?

[2018-06-22 18:03] mylesagray commented on #12
Moving house at the moment - so this is delayed - happy to take patches though :)

[2018-07-22 16:46] d3rw1n commented on #12
Wish I could write my own patches. Unfortunately I’m no programmer and I don’t understand any of the codes. Guess I’ll just have to wait :)

[2018-08-26 13:43] gaw19 opened #13 "Classic 505 doesn't have"
When using this plugin with classic 505 without sensor, it throws error complaining json content.
I believe it doesn't have any response for this API:

I think you did pretty god job in guarding every single measurement pulling with config flag. I think may be you can add another flag "pull_measurements" or something to skip initial pulling in the following block

https://github.com/mylesgray/home

[2018-09-15 17:24] szhu3210 opened #14 "Build global API key into code."
I am just letting you know that I followed your Wiki and found my API Token is the same as the global one.

This is tested in US.

[2018-10-28 20:57] ndlaham commented on #12
Hey mylesgray, thanks for all your work on this. I have been trying to get this to work too, but I got as far as d3rw1n and ran into the same problem because I also have the no-sensor Blueair purifier (Classic 205).

I'm pretty new to homebridge (I have 1 other plugin running), but have I do have some limited programming experience so I would be happy to help and provide any results if this is sti

[2018-10-28 23:16] mylesagray commented on #12
Sorry for the hiatus, I actually just moved house and have been redoing all
my smart home stuff, so I can pay some attention to this again!

Yes it’s all in index.js, it’s hacky, but it works.

There are two issues you may be able to help me with, one is a unit with no
sensors, the other is multiple BlueAir devices - as currently the plugin
only takes the first device returned (index 0) and will p

[2018-10-29 00:20] ndlaham commented on #12
Yes, that makes sense. Plus, if you are able to build in multi-device support, I think your solution for the undefined sensor variables would allow someone to have both a sensor model, and a sensorless model on the same configuration. I am realizing now that by using a flag, you are locking yourself in to one type of model, or the other, so I like your suggestion.

Also, I have 2 sensorless models

[2018-10-29 01:17] ndlaham commented on #12
Ok I have some news. I stumbled upon this by chance from another poster, but I removed the line of code from line 241 of index.js  -
**this.getLatestValues(function(){});**

When I ran homebridge after this, I was able to get the sensorless model to connect and show up in HomeKit. I only did some basic testing, but so far it appears I have general functionality and it's working.
I will report back

[2018-11-15 16:44] mylesagray commented on #12
Alright, I finally have some time to work on this for you guys.

@ndlaham - Perhaps you can do me a favour and get a dump of the JSON back from the query for your model so I can see what I need to filter on for sensorless models?

I have a POSTman collection built that will pull back all the relevant info:
https://www.getpostman.com/collections/1a8ff6c577e58a7b6f90

How to import a postman collect

[2018-11-15 16:48] mylesagray commented on #13
Duplicate of #12 - currently waiting on some JSON output from someone with a Classic so I can get this fixed - see
https://github.com/mylesgray/homebridge-blueair/issues/12#issuecomment-439107269

[2018-11-15 16:48] #13 closed, assigned to nobody

[2018-11-15 16:50] mylesagray commented on #14
Okay excellent, I'll use this issue to track progress of this into code.

[2018-11-16 02:38] ndlaham commented on #12
I'm happy to help. Let me read through your Postman instructions and I will see if I have any questions. That is totally foreign to me right now, but I'm sure I can figure it out once I dig into it and read through your links in a little closer detail. I will try this tonight.

[2018-11-16 03:32] ndlaham commented on #12
mylesgray, here is what I came up with and my output posted below.

What I take from this is "sensors": [] isn't empty, and has all the parameters that your output does, but my "datapoints": [] is empty.

I'm pretty sure I ran your postman collection correctly. I added the environment just as you have it, and the only values I had to populate was user, password, and api key, right?  The rest of th

[2018-11-16 09:40] mylesagray commented on #12
Excellent thanks, that’s very helpful, strange they report the sensors even though it doesn’t have them, but still - I can test for presence of datapoints and not assume they are present.

Leave it with me :)

[2018-11-16 13:39] ndlaham commented on #12
No problem, thank you!
Also, I saw in one of the outputs for what multiple devices connected looks like as well if that helps you figure out how to handle multiple devices. This is from Get BlueAir details:

[code]

[2018-11-16 14:07] mylesagray commented on #12
Excellent thank you man!
On Fri, 16 Nov 2018 at 13:39, ndlaham <notifications@github.com> wrote:

[2018-11-16 18:12] mylesagray commented on #12
@ndlaham Changes made and pushed to the develop branch here: https://github.com/mylesgray/homebridge-blueair/tree/develop

If you don't mind testing, install `git` on your Homebridge machine if you haven't already got it: https://git-scm.com/downloads

Then clone the testing branch to your Homebridge machine: `git clone -b develop https://github.com/mylesgray/homebridge-blueair.git`

And run Homeb

[2018-11-16 19:38] ndlaham commented on #12
Done! It appears to have booted right up without any problems.
I'm connected, and using HomeKit as I type to adjust the fan speed, and toggle power on and off.

One thing I noticed a few weeks ago when I was tinkering with your version 0.3.1 code and commented out line 241 - I had it working then, but homebridge did crash once during my testing of that. Not sure why, but probably because my change

[2018-11-24 07:16] ndlaham commented on #12
Hey mylesgray,

I’ve been testing for about a week and overall, it’s running well with a single minor issue. I don’t think the issue I’m experiencing is related to the sensorless logic and it’s not a big deal anyway, but thought I’d share in case you had any ideas.

Sometimes when I change fan speed, it can get a little glitchy. For example, if I lower the fan speed, I’ll see the actual fan speed

[2018-11-24 14:29] mylesagray opened #15 "Add support for multiple air purifiers"
Currently we will just pull back the first instance of an air purifier in the array response, add logic such that `n` purifiers are supported.

Related to #12 #1

[2018-11-24 14:40] mylesagray commented on #12
@ndlaham Excellent, I've published 0.3.2 to npm, so will be available though `npm install homebridge-blueair`.

As for the other (glitchiness) issue, can you maybe capture a video and open another issue, I can't repro?

I am closing this issue now as the senseless logic has been added, but I opened another issue to track the multiple device control (#15) I would appreciate your help with that once

[2018-11-24 14:40] #12 closed, assigned to nobody

[2018-11-24 15:09] mylesagray commented on #14
Added in v0.3.2

[2018-11-24 15:09] #14 closed, assigned to mylesagray

[2018-11-25 04:38] ndlaham opened #16 "Possible bug when changing fan speed"
mylesgray, I wanted to start a new topic for this so we can keep the last thread we were discussing it on closed.

I was trying to reproduce this issue tonight and realized it might have to do with situations where I change the fan speed on the Blueair unit itself, and the Home app hasn’t updated/synced to the new state. I think when I do this, and then I go change the speed in HomeKit, things get

[2018-11-25 04:52] ndlaham commented on #15
Not sure if this matters, but the 2 units I can help test this with are both sensorless models. I can report results from Postman or anything else, just let me know what you need. Thanks!

[2018-11-25 16:12] mylesagray commented on #16
I have seen this behaviour myself actually now you have described it - this is related to #3 - currently the plugin will only poll the device for changed values on the hardware when the app is closed and opened - there is no "push" mechanism available from BlueAir's API that would allow me to automatically change values in the app based on your inputs to the physical device.

As such it will need

[2018-11-25 16:46] mylesagray commented on #15
@ndlaham Would a stop-gap of adding multiple accessory configs with different index ids do until I can refactor the plugin into a platform?

What your config would look like in this case is something like this:

[code]

If so I can get this published in short order.

[2018-11-25 16:51] ndlaham commented on #15
Yeah I can certainly try that in my config and see if it behaves how you want.

I won’t be home till later but hopefully can get to it tonight. I’ll keep you posted, thanks.

[2018-11-25 16:54] mylesagray commented on #15
Let me push to the feature branch and I'll post back here when it's good to go!

[2018-11-25 18:38] mylesagray commented on #15
Okay run:

`npm -g install git+https://git@github.com/mylesgray/homebridge-blueair.git#feature\/multiple-purifiers --unsafe-perms`

This should upgrade you to v0.4.0 - then set your config as above and let me know 👍

[2018-11-26 01:28] ndlaham commented on #15
Okay got it running.

Both air purifiers are connected and I can control both! I don’t notice any issues yet (still having the update issue but that is unrelated to this), so I think all is good.

Only nuance I noticed which didn’t make sense to me is when I added the 2 accessory indexes in my config, the first one (index 0) ended up being the Blueair unit I could not control with the old code v0.

[2018-11-26 01:37] ndlaham commented on #16
I did a little looking and confirmed what you are seeing too by looking at Hunter’s fans. I found that officially supported HomeKit ceiling fans also use the 0-100% sliding switch, so that answers that unfortunately.
https://www.google.com/amp/s/9to5mac.com/2017/11/20/review-hunter-simpleconnect-ceiling-fan-homekit/amp/

Just floating another idea - It might not make sense, but what about using th

[2018-11-26 02:14] mylesagray commented on #15
I know why they were reversed compared to the old config - a bug in my code
meant it always took the LAST instance in the array not the first with the
v0.3.2 code, my bad!

If it stays stable I’ll publish this as v0.4.0 later in the week.
On Mon, 26 Nov 2018 at 01:28, ndlaham <notifications@github.com> wrote:

[2018-11-26 02:19] ndlaham commented on #15
Got it. All good, just wanted to point it out in case it could cause a problem later for you.

The only way I can think to improve the new code for multiple devices (from a user based perspective) would be to pull down the descriptions automatically that are stored on the Blueair app/servers.

For now, the user just has to enter the descriptions manually in the config which is no big deal, but if

[2018-11-26 16:57] mylesagray commented on #15
The addition of the device name from API will have to wait for the refactor into a Platform from its current state as an Accessory - I haven't figured out how to populate things like firmware version, name, etc after the device initialisation. Hoping moving to a Platform model will fix these limitations.

[2018-11-26 17:04] mylesagray commented on #16
Good idea, but the `mode` state like you get on the heater accessory types aren't supported on the air purifier type we are using - you are also not able to change the labels on them I'm afraid.

The only characteristics I can attach to the air purifier type are here, and as far as I can see - none really make that easier:

https://github.com/KhaosT/HAP-NodeJS/blob/9eaea6df40811ccc71664a1ab0c13736

[2018-11-26 17:09] ndlaham commented on #16
Got it. Yeah I’m starting to realize that and have also been trying to adjust the slider to somewhere that is visually clear you are in the correct range.

It would be nice if Apple’s UI would just tell you the percentage of wherever the slider lands. I’m sure they will make improvements over time though and offer some better options as new Homekit devices come out.

[2018-11-26 17:16] mylesagray commented on #16
I think it actually does that on the Mojave version of the Home app, maybe
on iPad too?

Still, I think we are doing pretty alright with how it is working at the
moment :)
On Mon, 26 Nov 2018 at 17:09, ndlaham <notifications@github.com> wrote:

[2018-11-27 02:26] ndlaham commented on #16
No doubt, I’m very happy with it. Thanks for all the hard work you have done and the ongoing improvements!

[2018-12-03 01:34] mylesagray commented on #15
@ndlaham all still working okay? If so I will push 0.4.0 to main :)

[2018-12-03 01:52] ndlaham commented on #15
Yep, all good on my end. Siri commands working great too.

I found Siri is a nice alternative to using the slider by just speaking something like, "Set {whatever room} Air Purifier to "Low", "Medium", or "High". Then each power level command corresponds perfectly with the logic you wrote.

[2018-12-03 13:18] mylesagray commented on #15
v0.4.0 merged to master and shipped to npm: https://www.npmjs.com/package/homebridge-blueair

Closing and will use existing platform ticket #1 to track refactor.

[2018-12-03 13:18] #15 closed, assigned to mylesagray

[2018-12-03 17:38] paqpaqpaq opened #17 "classic 405 switching on/off keeps pending"
When a 405 is switched on or off, the switching bit keeps on pending.
when I close and reopen home app, it is actually on or off.

when I switch off ::

[code]

And then nothing happens. The device keeps on pending stating it is switching off.
As soon as I reopen home
[code]

Then the actual (correct) status is presented.
I replaced the actual device id with id

[2018-12-03 18:10] mylesagray commented on #17
Is the device physically switching off, but the app states pending?

Sent from mobile

[2018-12-03 18:18] paqpaqpaq commented on #17
Correct
Same with ON

The tile itself does turn grey and white as you go, though.

[2018-12-03 18:42] mylesagray commented on #17
Okay, known bug, covered in #3, I haven’t figured out how to post back to the Home app when the value has updated yet.

Appreciate any help on that one as it plagued me for a few days before and I’ve been unable to figure it out.

Sent from mobile

[2019-01-04 12:50] #16 closed, assigned to mylesagray

[2019-02-02 05:32] alackmann opened #20 "Issue with the /login method"
Does the `https://{{homehost}}/v2/user/{{username}}/login/` method still function? I'm testing using your Postman collection and can't retrieve my `X-AUTH-TOKEN` using this method - it simply returns `false`.

I was able to proxy my traffic from the iOS app using Charles and found the login method is never called - instead login seems to use webviews via Gigya. Is this a new development? Or just a

[2019-02-02 23:28] alackmann commented on #20
So I solved this myself. Seems my ridiculous password with symbols galore was likely not being encoded correctly by Postman (strange: thought the base64 would negate any other required encoding). Simplified my password and tried again and it's now returning `true` with an `X-AUTH-TOKEN` header in the response :)

[2019-02-02 23:28] #20 closed, assigned to nobody

[2019-02-07 11:06] alackmann opened #21 "[FYI] I've forked your code over here for OpenHAB"
Hi Myles - just an FYI that I've created a bunch of scripts and config to control the BlueAir 205 I have from the OpenHAB home automation server. It's here - https://bitbucket.org/alackmann/openhab-blueair/

Thanks for the work you've put in here. Couldn't have done mine without it.

[2019-02-07 12:56] mylesagray commented on #21
Thanks for the note Andre! Much appreciated, glad the work I did is helping other communities out :)

I plan to longer-term extract the API calls into an importable library to make it a little more generic and abstract so there would be less boilerplate code in other implementations.

Any ideas you have around that would be more than welcome!

[2019-02-07 12:56] #21 closed, assigned to nobody

[2019-04-13 16:53] YuAo opened #22 "plugin and homebridge crashes on foobot.io api failure"
Sometime the foobot.io api returns non json strings. It causes the plugin crash.
[code]

Maybe we should add some protection around `JSON.parse(...)` ?

[2019-04-22 13:50] mylesagray commented on #22
@YuAo good find, I've never experienced this myself - but you're right, we should definitely add some protection there.

I'll take look into what can be implemented.

[2019-04-22 14:40] mylesagray commented on #22
Added new `tryParseJSON` function and use that as a wrapper for all JSON calls to catch non-JSON response bodies.

Published to NPM as v0.4.2

Closing

[2019-04-22 14:40] #22 closed, assigned to nobody

[2019-05-05 12:57] jonand opened #23 "fork to hass.io add-on?"
I'd like to control my new Blueair 480i via Home Assistant/hass.io. Unfortunately the hassio homebridge addon is [officialy dead](https://github.com/hassio-addons/addon-homebridge/issues/98). The newer HomeKit component seems to work quite well. Any chance homebridge-blueair could be forked to a new [hassio add-on](https://developers.home-assistant.io/docs/en/hassio_addon_index.html)?

[2019-05-05 13:03] mylesagray commented on #23
Not sure what the ask is here - if there is a HomeKit component for hass.io - can it not interact with homebridge?

[2019-05-05 13:15] jonand commented on #23
I don't believe hassio and homebridge can work together without the now dead hombridge hassio add-on.

What I'm asking is if your homebridge-blueair can be ported to an hassio add-on?

[2019-05-05 17:46] mylesagray commented on #23
As far as I know, the dead plug-in was the opposite way round, it would export Hassio objects to HomeKit, where as the new HomeKit plugin for hassio allows HomeKit native (and I suppose homebridge too) to be imported into home assistant - so you could try that out?

https://www.home-assistant.io/components/homekit_controller/

I don’t plan on porting the plug-in any time soon as I don’t use home a

[2019-05-07 04:01] ndlaham commented on #3
Just checking in to see if you have had any revelations or progress with this enhancement. I know this has been a bit of a head scratcher. Wish I could help somehow.

[2019-05-08 09:30] mylesagray commented on #3
Haven't looked back into it - I wasted a few days trying to get it working initially, but this may make most sense as part of a refactor into a platform in #1

[2019-05-08 09:31] mylesagray commented on #17
Closing as tracked as part of #3

[2019-05-08 09:31] #17 closed, assigned to nobody

[2019-05-10 13:49] ndlaham commented on #3
Got it. If you ever get back to it, let me know if there is anything I can do to help as far as testing. Happy to follow instructions!

[2019-09-25 08:37] motaker opened #24 "iOS 13 optimazation"
Hi,
After iOS 13 update, I cannot access to fan speed auto mode, only fan speed sliders now.
Would you please optimize this plugin into iOS 13 ?

Thank you.

[2019-09-25 09:14] mylesagray commented on #24
I noticed these too, it seems those attributes were removed from the iOS 13 home app, I will see if there are alternatives.

[2019-10-23 10:36] mylesagray commented on #24
It appears this has just been removed from iOS 13's Home app screens - the characteristics and tagging have not changed, this is simply no-longer exposed in the UI.

[2019-10-23 10:36] #24 closed, assigned to nobody

[2019-12-14 18:12] buczo23 commented on #3
Any updates? Can't switch on/off the device, and i can observe only partial reads.
"Already have device ID" and lot of undefined messages.

[2019-12-15 06:54] mylesagray commented on #3
@buczo23 comtrolling the device doesn’t depend on this, this is purely a UI thing, if you set speed or any other param - they will still apply without this in place.

What this bug refers to is the condition when you press the icon to either turn on or off the device - it will perform the action on the device, but the UI won’t acknowledge that change until a close and reopen of the Home app.

If y

[2019-12-15 11:45] buczo23 opened #25 "Badly parsed values?"
Ok, you asked me to create an issue with problems mentioned in the previous bug, so here it comes :)

UI output:
<img width="1197" alt="image" src="https://user-images.githubusercontent.com/8618811/70861902-d2959400-1f34-11ea-9f99-359e059b6212.png">

The readings at console/log level:
<img width="872" alt="image" src="https://user-images.githubusercontent.com/8618811/70861921-14bed580-1f35-11ea-8f

[2019-12-19 12:17] mylesagray commented on #25
Looking at the UI output - that matches the data pulled back.

In addition the `initUsagePeriod` shows the length of time in seconds since you last changed the filters in your purifier - so in this case, about 3 years.

That seems to be correct - have you ever run the routine on your purifier to "change" the filters?

If not, it may be worth doing that and see that return to 0 to confirm.

[2019-12-19 14:31] ndlaham commented on #3
I was seeing some activity on this again and I’m also wondering if you have had any developments to share on this topic. Let me know if I can be of help!

[2019-12-19 14:46] mylesagray commented on #3
@ndlaham, unfortunately not, real life is busy™

I am still interested in refactoring into a dynamic platform, but it is a lot of work and I don't have the time right now - but welcome contributions :)

[2019-12-19 18:18] ndlaham commented on #3
I hear you on that. I certainly appreciate all the work you’ve done thus far.

[2019-12-19 19:34] buczo23 commented on #25
Strange, as native app shows proper values estimated time and status that filter is ok. If you do not finish change procedure the purifier will constantly alert you with the information that you have to change your filter.

[2020-02-09 18:43] buczo23 commented on #25
@mylesagray any updates? I've recently reset filter and got the same values, so for sure it is something which is wrongly parsed as my BlueAir app shows correctly 180 days left after "filter counter reset".

[2020-02-10 11:04] mylesagray commented on #25
So I reset my filter timer today and in the app I see that the numbers are reset, as expected.

In the Eve app I see that filter change is set to "Not Needed", however the filter status remains at 0% - when I check the `initUsagePeriod` I'm getting about 667 days - which is around about how long ago I bought and installed it...

I have a Postman collection built here: https://github.com/mylesagray

[2020-02-10 11:20] mylesagray commented on #25
So interestingly, I hooked up my phone to Charles again and issued the filter reset command on the BlueAir - it looks like the BlueAir itself communicates to the server and POSTs to an API, which tells the phone (via a push somehow) that the filter was changed. The API requests are entirely opaque to the proxy, so they are going out of band somehow - whether the BlueAir is communicating directly w

[2020-04-04 00:28] lensherm commented on #23
Hi guys. Any updates on integrating Blueair into Home Assistant?

[2020-04-11 04:39] mp0505 opened #26 "BlueAir Sense+ support?"
It's a very awesome and useful plugin.
Any plans adding support of Bluair Sense device?
I've tested this plugin on Sense+ device and I could say I was able to get a basic features working. Altough there is an execption that homberidge throws from time to time.

[code]

[2020-04-11 12:06] d3rw1n commented on #23
Would also love to see this! I no longer use homebridge so the integration of my Blueair 405 with Home Assistant can only be done through IFTTT webhooks

[2020-05-28 03:01] lensherm commented on #23
I installed homebridge, add the blueair plugin and configured for it to see and succesfully control my Classic 480i. I proceeded to add the HomeKit Controller to Home Assistant and am able to see the air quality data and control the light. One thing I can't do is see the status or control the actual purifier fan from within Home Assistant, as there's no entity added for that. Any idea of how to pr

[2020-06-07 02:29] mlkh0225 commented on #26
This is caused by homebridge requesting environmental data points from Sense, the returned null result will crash the homebridge server.
Adding a option to indicate the device is purifier only and skipping getLatestValues function if true will prevent this.
The only thing I can't quite figure out is there seem to be no way to check the remaining life of the filter, even after I changed it the init

[2020-06-14 19:59] buczo23 commented on #25
Hello, any updates in the investigation? :-)

[2020-06-15 10:31] mylesagray commented on #25
I’d need your API outputs from the above call to compare, I can’t really progress this investigation without some comparisons.

If you can run through the postman collection above and post the outputs, I can work on it.

[2020-06-18 11:39] Neptune-Blue commented on #26
I am quite new to github and and homebridge. Can you help me on how to exactly change the code in index.js and then upload it to my homebridge with the mentioned change above?

[2020-06-19 09:30] mylesagray commented on #26
I’ll take a look at this today and get something out for y’all.

[2020-06-19 14:28] Neptune-Blue commented on #26
Fantastic. Looking forward to getting the update.

Anything I can do in the meantime?

On Friday, June 19, 2020, Myles Gray <notifications@github.com> wrote:

[2020-06-20 16:15] Neptune-Blue commented on #26
Many thanks again and sorry if I’m being pushy but any chance of uploading
the update this weekend?

On Friday, June 19, 2020, Myles Gray <notifications@github.com> wrote:

[2020-06-20 23:31] mlkh0225 commented on #26
You can try downloading and replaceing the index.js from my forked copy of the project if your wanna fix this now.

[2020-06-21 05:26] Neptune-Blue commented on #26
Fantastic. Thank you for this. I was thinking of commenting out the
getLatestValue function. Now to my last question how do I get your index.js
into homebridge?

On Sunday, June 21, 2020, mlkh0225 <notifications@github.com> wrote:

[2020-06-21 12:53] mylesagray commented on #26
@mlkh0225 - I looked at the code in your fork, looks perfect - if you open a PR I'll get it pulled into this repo and cut a new release on NPM for everyone.

[2020-06-21 12:55] mylesagray opened #27 "Add support for Homebridge Config UI X Settings page"
https://github.com/oznu/homebridge-config-ui-x/wiki/Developers:-Plugin-Settings-GUI

[2020-06-21 14:51] mylesagray commented on #26
Published as v0.5.0 - do an update of the plugin and support is there now, thanks @mlkh0225

[2020-06-21 14:51] #26 closed, assigned to nobody

[2020-06-21 15:25] Neptune-Blue commented on #26
Thank you again. Unfortunately, I am still getting the following error:

TypeError: Cannot read property 'length' of undefined
    at BlueAir.<anonymous> (/usr/lib/node_modules/homebridge-blueair/index.js:516:31)
    at BlueAir.<anonymous> (/usr/lib/node_modules/homebridge-blueair/index.js:288:6)
    at Request.self.callback (/usr/lib/node_modules/homebridge-blueair/node_modules/request/request.js

[2020-06-21 15:28] mylesagray commented on #26
You’ll need to adjust the config to include the purifierOnly param, is in the new Readme.md file

[code]

[2020-06-21 15:50] Neptune-Blue commented on #26
Thank you. Been just playing with it over the last hour and just realized it as well. Another small bug i found is that if you set "getHistoricalStats": true in the config it will give an error so it needs to be not set in config and left to false as per index.js.

Thank you again.

[2020-06-21 17:17] mp0505 commented on #26
@mlkh0225 thanks for the great effort fixing it. Ir works without errors on my end.

Just observed if value is set "airPurifierIndex": 1, then accessory is not responding at all. I had to set to "airPurifierIndex": 0, in order to get it working.

[2020-06-25 10:43] mlkh0225 opened #29 "httpRequest debug log shows "undefined" after api url"
Hi,

I noticed the httpRequest debug log always ends with "undefined".
Is the "options.json" verable ment to be print out the server respond here?

[2020-06-29 02:41] stephenjmcmahon commented on #27
I tried now through the Config UI using the example-config but when filled out it won't take because it is missing the _"platform":_ attribute

Looking forward to using this and willing to assist in whatever way - just let me know!

[2020-06-29 11:43] mylesagray commented on #27
Hey Stephen, that would be because it’s an accessory, not a platform - see #1

So you have to paste it into the accessory section.

[2020-06-30 06:03] stephenjmcmahon commented on #27
Ahh, my apologies. This will actually be the first accessory I will be adding. I was on cruise control and blazed right through it like a platform. - cheers !

[2020-07-02 13:43] ndoolin opened #31 "BlueAir Classic 205"
First and foremost thanks for all the work on this plugin!
I setup the plugin and I have both an BlueAir Aware and Classic 205.
As my Classic 205 does not have the following options.
    "nameAirQuality": "Air Quality", //optional
    "nameTemperature": "Temperature", //optional
    "nameHumidity": "Humidity", //optional
    "nameCO2": "Carbon Dioxide", //optional
I've removed those lines, so no i

[2020-07-13 23:05] stephenjmcmahon commented on #31
I'm able to replicate that. There is a note on the front page of this repo and maybe this is related?

_"Currently supported are all Classic i-Series air purifiers, however, Classic series without sensors but do have wifi controls, should be supportable if I can be provided with API output by anyone!"_

@mylesagray - I have a Classic 605 and am willing to help if this is related!

[7/13/2020, 4:02

[2020-07-14 09:05] mylesagray commented on #31
Hey @stephenjmcmahon you'd be right, that's the same thing - can you follow the API instructions in the Readme on the front page and post up the output here for us to have a look at?

[2020-07-15 00:51] mylesagray commented on #31
@ndoolin - @stephenjmcmahon and I had a DM thread on Twitter and he got me a copy of his API output, should have a patch tomorrow for you to test.

[2020-07-15 03:46] ndoolin commented on #31
Awesome!!  Thanks Guys!

-Nick

[2020-07-16 03:27] ndoolin commented on #31
@mylesagray @stephenjmcmahon
I modified the config and restarted homebridge and at this point the only variable that is causing me issues is ShowAirQuality when I attempt to set it to False.  Setting Temperature and Humidity to False now seems Ok.

[2020-07-16 20:30] mylesagray commented on #31
Guys can you try setting up your config with the `purifierOnly: True` option as below?

[code]

[2020-07-16 22:19] ndoolin commented on #31
Works for me!

Thank You!

-Nick

Sent from my iPhone

[2020-07-17 12:47] stephenjmcmahon commented on #31
This works! Showed right up in Homekit!!!

How trivial would it be to flip the fan/light toggles? I stitched the shot together but you need to scroll down for the fan option :x no issues either way, important thing is us Classic boi's can automate it and forget it now !!

Time to update the readme with Classic support !!! 🎉🎉

yessssss this was the last real thing I needed, I'm over the moon!

![si

[2020-07-17 14:06] mylesagray commented on #31
Excellent @stephenjmcmahon ! Actually that layout isn't chosen by us, Home.app does that itself, so we have no sway there :(

I'll update the readme and close this out, thanks for the patience folks!

[2020-07-17 14:06] #31 closed, assigned to nobody

[2020-08-25 04:31] Gondee opened #32 "crashes homebridge on restart"
on a fresh install of this, seems to crash the homebridge:
`[8/24/2020, 11:30:32 PM] TypeError: Math.max is not iterable (cannot read property Symbol(Symbol.iterator))
    at BlueAir.<anonymous> (/usr/local/lib/node_modules/homebridge-blueair/index.js:770:25)
    at BlueAir.<anonymous> (/usr/local/lib/node_modules/homebridge-blueair/index.js:691:11)
    at BlueAir.<anonymous> (/usr/local/lib/node_

[2020-08-25 12:56] mylesagray commented on #32
@Gondee what version of BlueAir do you have and can you post your config.json please?

[2020-08-25 16:31] Gondee commented on #32
So i used the config for a i model when i have a classic model. A straight copy and paste from the front page with my credentials put in. Not sure if this warrants any investigation. My bad.

[2020-08-25 16:31] #32 closed, assigned to nobody

[2020-08-28 01:35] dsully commented on #1
Any plans to work on this? Maybe throw in convert to TypeScript as well? :)

[2020-08-28 02:01] dsully opened #33 "HAP Warning"
Seeing this warning from the HAP library with Homebridge 1.1.2

Looks like the "Carbon Dioxide Level" and others are not part of the "Air Quality Sensor" anymore?

[2020-08-28 02:13] dsully opened #34 "Model (and serial number) not showing properly in accessory details."
Looks like the calls to

`
.setCharacteristic(Characteristic.Model, this.appliance.info.compatibility)
.setCharacteristic(Characteristic.SerialNumber, hostname + "-" + this.appliance.info.uuid)
`

Isn't setting these properly.

The firmware version is also showing as "0.5.1", when the BlueAir firmware shows as 1.1.38 (Wifi Firmware) and 10.35 (MCU Firmware)

[2020-08-28 02:20] dsully commented on #34
The API response looks like:

[code]

Not sure why the "compatibility" field isn't being pulled. "aimSerialNumber" should be used instead of the uuid.

[2020-08-28 10:10] mylesagray commented on #1
@dsully never used typescript, so not sure of the benefits there - but I haven't had much time to explore the move to a platform, though I welcome input on the design or how we could implement this :)

I would say a pre-req to this would be #2 to remove all the foobot API stuff out of the actual implementation.

[2020-08-28 10:16] mylesagray commented on #33
Huh, interesting - it looks like AirQualSensor now supports "Density", not "Level":

https://developers.homebridge.io/#/service/AirQualitySensor

As for Carbon Dioxide, it looks like we may need to create a new sensor type:

https://developers.homebridge.io/#/service/CarbonDioxideSensor

Open to PRs :)

[2020-08-28 10:18] mylesagray commented on #34
Firmware version is based off the version of the homebridge plugin - 0.5.1.

This is actually something I wanted to solve for a while and is listed under #3 - I tried for a few days to get this working, but had no joy with it - the challenge is the plugin is initialised before the API call is received, and for whatever reason the `updateValue` call wasn't working on those items.

If you have more

[2020-09-18 09:40] motaker opened #35 "plugin doesn't work and entire homebridge became "no response""
Hi, I could use this plugin without problem till 2 days ago. I have updated all my devices to iOS 14 and homebridge version 1.1.6 to 1.2.2.

I have this error "airPurifierIndex specified is higher than number of air purifiers available"
because of this all of other homebridge accessory became "no response" due to endless message cycle appeared as descried in log file. When I exclude this plugin fr

[2020-09-27 13:42] linkztream opened #36 "airPurifierIndex specified is higher than number of air purifiers available"
Since an unintentional restart of HomeBridge this morning, I can no longer control my BlueAir 480i and logs show:

[9/27/2020, 3:39:45 PM] [BlueAir 480i] Polled API: https://api-nc.foobot.io/v2/device/undefined/attribute/fanspeed/ {
  currentValue: 0,
  scope: 'device',
  defaultValue: 0,
  name: 'fan_speed',
  uuid: undefined
}
[9/27/2020, 3:39:45 PM] [BlueAir 480i] Already logged in
[9/27/2020,

[2020-10-05 13:10] mylesagray commented on #36
Closing in favour of #35 as they are the same issue, you can track progress there.

[2020-10-05 13:10] #36 closed, assigned to nobody

[2020-10-05 13:10] mylesagray commented on #35
Okay so it appears BlueAir have moved their API host from `foobot` to `blueair.io` - I'm profiling the API and making the necessary changes - They have changed the IDs for the purifiers from a sequential number system to actual GUIDs.

This issue is the same as #36.

[2020-10-05 13:34] mylesagray commented on #35
@motaker @linkztream - Update to `v0.5.5` and try again

[2020-10-06 06:05] linkztream commented on #35
@mylesagray Working like a charm, thank you so much! 👍

[2020-10-07 20:35] dsully commented on #33
There is already a CarbonDioxideSensor created and in use. So just need to remove the bits from AirQualitySensor.

[2020-10-31 15:16] Teone55 opened #38 "Purifier Classic 205 error"
Hi, got an issue following your instructions:

TypeError: Cannot read property 'uuid' of undefined
    at BlueAir.<anonymous> (/usr/local/lib/node_modules/homebridge-blueair/index.js:375:55)
    at BlueAir.<anonymous> (/usr/local/lib/node_modules/homebridge-blueair/index.js:288:6)
    at Request.self.callback (/usr/local/lib/node_modules/homebridge-blueair/node_modules/request/request.js:185:22)

[2020-10-31 16:46] robpegurri commented on #38
Hey @Teone55,

I had your same issue but I've later found out it was just a typo in my config.json (I see it in yours too). Well not exactly my typo, it's the sample config of this plugin. First of all, as with every JSON file you have to put your email and password not between { } but just " ". Moreover, the 0 of airPurifierIndex must be written as "0".

It means the right config.json snippet is:

[2020-10-31 16:47] robpegurri commented on #38
@mylesagray you can close this issue ;)

[2020-10-31 19:35] Teone55 commented on #38
It works!
So you can close the issue, but please correct the readme doc.

[2020-11-02 11:45] mylesagray commented on #38
Updated docs and `config-example.json`, closing 👍🏻

[2020-11-02 11:45] #38 closed, assigned to nobody

[2020-11-02 11:46] #35 closed, assigned to nobody

[2020-11-03 06:53] zinogo commented on #23
I used same method through IFTTT webhooks with hass.io currently. But I got the bad information, Blueair services are being discontinued on IFTTT on November 6, 2020. I really hope to have a hass.io addon for Blueair. Or some have workaround to add blueair homekit to hass.io. (Currently only can control light, hassio can't see air purifier.) Maybe have option change the type to fan for compatible

[2020-11-08 07:34] d3rw1n commented on #23
I'm now stuck in the same situation as you. The IFTTT integration is officially dead. Was still working last night. Finally installed homebridge again after so long. Like you said unfortunately the HomeKit Controller component can't see an air purifier so no entity was created in Home Assistant.

[2020-11-21 21:35] bradhs opened #39 "Support for HealthProtect"
Hello, Do you know if this will work with HealthProtect models?  I can give you my u/p if you want to check it out.

[2021-01-07 06:00] Maotiancai commented on #39
I am looking for this too! I am here to provide help if anyone could add the support for HealthProtect!

[2021-01-09 02:29] dougbrose opened #40 "Classic 605"
Hi mylesgray,

Thank you for creating this.  I have the 605.  Is there some information I could provide that would help you add the classic series to your plugin?

Thank you,

[2021-01-15 18:47] nyprodj opened #41 "Can't add duplicate Classic 405"
I have two classic 405 and one 605

i am able to add one 405 and the 605

when i go to add the 3rd 405 I get a same uuid as another bridged accessory error

however I cannot change the UUID of the second blueair 405 and get it to show up

any thoughts?

[2021-01-28 19:26] kvpoma commented on #27
I need help adding this to Homebridge UI since this plugin isn't verified.  Are there any examples of what to add to the config?

[2021-02-11 18:56] lensherm commented on #23
By the way, Node-Red does work with air purifiers on HomeBridge. A little kludgy, but it seems to be not too bad. Just need to find me a bit of time to finalize the flows in Node-Red to sync with corresponding entities in HA.

[2021-02-20 21:03] tkundhi commented on #39
I tried the plugin with a HealthProtect 7470i and it crashes the app once you add the accessory to the configuration file. Here is the crash log.

2/20/2021, 14:46:13] TypeError: Cannot read property 'uuid' of undefined
    at BlueAir.<anonymous> (/usr/local/lib/node_modules/homebridge-blueair/index.js:375:55)
    at BlueAir.<anonymous> (/usr/local/lib/node_modules/homebridge-blueair/index.js:288:

[2021-02-22 04:08] mrhsiao opened #43 "This plugin slows down Homebridge"
Homebridge version: 1.3.0
Node.js Version: v14.15.1
Npm Version: v6.14.9

This plugin slows down Homebridge. The read handler for the characteristic 'Carbon Dioxide Peak Level' was slow to respond! See https://git.io/JtMGR for more info.

[2021-03-10 00:59] dsully commented on #33
Ping

[2021-03-10 14:29] dsully commented on #33
This fixes the issue as there is no longer `CarbonDioxideLevel` or `AirParticulateSize` characteristics as part of the AirQualitySensor service. You already have them separately as `PM2_5Density` and as part of the `CarbonDioxideSensor` service.

I also removed the white space changes (which should be fixed separately).

Thanks

[2021-03-11 10:15] #33 closed, assigned to nobody

[2021-03-11 10:16] mylesagray commented on #33
Merged, thanks for the work!

[2021-05-15 08:12] Tony-li1991xx opened #44 "It didn't work , How to add the config.json ?"
![微信截图_20210515155204](https://user-images.githubusercontent.com/40227889/118353229-ed3fc280-b597-11eb-8d81-7753b5befbaa.png)

  I put the config-example.json into the config . but it didn't work
Please tell me what's wrong with it
![微信截图_20210515154706](https://user-images.githubusercontent.com/40227889/118353310-44459780-b598-11eb-9de6-cbbdc337787f.png)
![微信截图_20210515154736](https://user-images

[2021-05-15 08:31] mylesagray commented on #44
Your username and password are invalid.

Sent from mobile

[2021-05-18 06:54] Tony-li1991xx commented on #44
I had try ,I write the right user&password, but still can't work .
What else could be the problem？
![微信截图_20210518145002](https://user-images.githubusercontent.com/40227889/118605610-0be8c800-b7e9-11eb-9c78-e6fe7a907d13.png)
![微信截图_20210518145129](https://user-images.githubusercontent.com/40227889/118605647-13a86c80-b7e9-11eb-8211-b0f17f8a5082.png)

[2021-05-18 07:02] Tony-li1991xx commented on #44
not work

![微信截图_20210518150017](https://user-images.githubusercontent.com/40227889/118606463-06d84880-b7ea-11eb-86eb-4babe15f82df.png)

[2021-05-18 07:43] mylesagray commented on #44
Is your airPurifierIndex actually 2? Do you have more than one on your account?

[2021-05-18 10:09] Tony-li1991xx commented on #44
no, just one accound, could you give me a post/get API to test my accound whether can get  data from the blueair sever.

[2021-05-18 10:13] mylesagray commented on #44
Details are at the bottom of the readme: https://github.com/mylesagray/homebridge-blueair#api-research

[2021-05-18 21:48] downtempo commented on #44
@mylesagray, can you please provide the Postman Environment variables? In the README under "Postman collection and environment", the image which is supposed to show these variables gives a "Not Found" error when I try to load it: https://camo.githubusercontent.com/7501ca6830d936cc05fac172c89c43c1cda358b03acbcd94c3dcfdbf09c330ff/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f73

[2021-05-19 11:08] mylesagray commented on #44
@downtempo - Did realise it was busted! I've fixed that now and here it is for reference:

![Env Vars](https://dl.dropbox.com/s/ogzizxgz1rpyhen/Screenshot%202021-05-19%20at%2012.04.25.png)

[2021-05-28 12:03] kjohn commented on #44
Did you end up getting it working? What did you do?

[2021-06-26 15:37] JeffGoldner commented on #43
I got rid of CO2 from the config file, no need for it as CO2 shows up as one of the 5 accessories under Air Quality for the 480i in Home.

[2021-06-29 20:00] motaker commented on #43
Hi, I have similar error and If I got rid of CO2 entity in the config file, homebridge has booted without problem but there is several error message.
Then within a day, homebridge itself will be no responce. please help.

Error message
[29/06/2021, 21:57:07] [homebridge-blueair] This plugin slows down Homebridge. The read handler for the characteristic 'Active' was slow to respond! See https://git

[2021-07-01 10:00] motaker commented on #43
Hi, I have similar error, couldn't start homebridge instance itself due to this plugin.
**When I set CO2 entity and "getHistoricalStats": false in config file,
Error messages appeares in homebridge UI log file shown in red color.**

[code]

**If I got rid of CO2 entity in the config file, and set "getHistoricalStats": true,
homebridge instance has started without problem however there is several e

[2021-07-11 19:36] JeffGoldner commented on #25
Is this the same issue? (Blueair 480i). App shows correct value of 119 days remaining.

[7/11/2021, 12:28:27 PM] [homebridge-blueair] This plugin generated a warning from the characteristic 'Filter Life Level': characteristic value expected valid finite number and received "undefined" (undefined). See https://git.io/JtMGR for more info.
[7/11/2021, 12:28:27 PM] [homebridge-blueair] Error:
    at F

[2021-07-15 14:14] niXta1 opened #45 "Does this still work?"
Can't seem to get it to work and other users said it has stopped working.
Any confirmations?

[2021-07-21 22:17] wgalternate commented on #39
Getting the same 'uuid' error on mine. Did you manage to get yours working by any chance?

I cant seem to get the API key for health protect as well, following the instructions that myles outlined using Charles

[2021-07-29 20:20] wgalternate opened #46 "API Changed"
Seems that new API is using AWS. Im no programmer, but trying to edit Myle's code to make it work with the new API. Unfortunately I'm stuck at the moment due to the POST request coming back with an incomplete body of the JSON. Suspecting that it's chunked, but I'm not sure how to go about bringing in the full body of the JSON.

Seems to come back in full when using a curl script.. just not through

[2021-08-24 15:53] paalolav commented on #43
Same issue here. Don't know how to fix this.

[2021-09-05 05:18] Reevak05 commented on #39
I'm experiencing the exact same problem with my HealthProtect 7410i. I've tried a bunch of different config field combinations which (according to other people) work with their other types of BlueAir purifiers. Has anyone made any progress with a solution?
[code]

[2021-11-15 14:08] fjs21 opened #47 "Updated to Homebridge platform"
Hi @mylesagray,

As I was getting numerous warnings from Homebridge, I took a look at the blueair plugin to see if I could fix but then got a bit carried away.

I started working on a fork of your awesome plugin and recoded it using typescript as a dynamic platform type plugin. This way when you login, the BlueAir devices are detected and added as accessories automatically.

I also enabled configu

[2021-11-15 14:13] mylesagray commented on #47
Amazing work!

If you like, I can pull the changes into this repo and add you as a maintainer - rather than it living in a fork?

[2021-11-15 14:23] fjs21 commented on #47
I'm not very experienced with this but I'm not sure that a pull is the best option as it will break a lot of people's setups. Mine was working basically fine up as long as it ran in a bridge.

If you don't mind I could respond to the issues of others to direct them to my fork as an alternative? Quick change of the readme file may also work to direct people to the platform fork?

[2021-11-15 14:42] mylesagray commented on #47
Sure that works too, if you want to open a PR for a readme update, I’ll merge it.

[2021-11-15 17:25] fjs21 commented on #47
I couldn't work out how to do the PR for just a single file and not blow up the entire repository.

You could either use my readme.md file or just put a link to my repo in your readme. Sorry for the extra hassle.

[2021-11-15 17:26] fjs21 commented on #45
Try https://github.com/fjs21/homebridge-blueair
I made a fork which I will try to maintain going forward.

[2021-11-16 10:06] mylesagray commented on #47
Added a redirection to your plugin Fraser, i'm considering archiving this repo if you are done addressing the issues from users and redirecting them to your plugin?

[2021-11-16 11:16] fjs21 commented on #47
I’ll post a few more replies to the issues in your repo this am and you can go ahead at that point. This evening?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Myles Gray ***@***.***>
Sent: Tuesday, November 16, 2021 5:06:41 AM
To: mylesagray/homebridge-blueair ***@***.***>
Cc: Fraser Sim ***@***.***>; Author ***@***.***>
Subject: Re: [mylesagray/homebridge-blu

[2021-11-16 11:22] mylesagray commented on #47
Sounds good to me!

[2021-11-16 11:36] fjs21 commented on #46
The fork at https://github.com/fjs21/homebridge-blueair is currently working. I didn't see any differences with the API.

[2021-11-16 11:37] fjs21 commented on #44
Please try https://github.com/fjs21/homebridge-blueair

The plug-in is configured using Homebridge UI.

[2021-11-16 11:37] fjs21 commented on #43
Try the new fork. https://github.com/fjs21/homebridge-blueair

I made this to fix some of these type of errors.

[2021-11-16 11:38] fjs21 commented on #41
Try the new fork https://github.com/fjs21/homebridge-blueair

This is a dynamic platform plug-in and will detect and install all devices on your account.

[2021-11-16 11:39] fjs21 commented on #40
Hi. I made a new fork. https://github.com/fjs21/homebridge-blueair

I don't have a classic but can try to work with you to enhance the plug-in to support your device. Please start an issue there.

[2021-11-16 11:40] fjs21 commented on #39
Try https://github.com/fjs21/homebridge-blueair

Assuming you get the same error. Start a new issue and I will try to work on this.

[2021-11-16 11:40] fjs21 commented on #27
I did this in a fork. See https://github.com/fjs21/homebridge-blueair

[2021-11-16 11:57] #47 closed, assigned to nobody